#balance {
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    width: 250px;
    background-color: #E7654B;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 30pt;
    text-align:center;
    margin:auto;
    margin-top: 30px;
    padding: 5pt;
    height: 100%;
}

#benchimage{
    position:absolute;
    top:0px;
    right:60px;
}

#benchimage img {
  width:60px;
  height: 60px;
}
